@page "/"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>Home</PageTitle>

<h1>Inscripciones</h1>
<div>


@if(alumnos == null) 
{
	<p><cm>Cargando... </cm></p>
}
else{
	<select class ="form-select" aria-label = "Default select example">
	<option selected > Seleccione al alumno </option>
	foreach(var alumno in alumnos)
	{
		<option value= "alumno.Dpi" >alumno.Nombre</option>
	}
	</select>

}
</div>

<div>
	<select class ="form-select" aria-label = "Default select example">
	<option selected > Seleccione al taller </option>
	foreach(var taller in talleres)
	{
		<option value= "taller.Codigo" >taller.Nombre</option>
	}
	</select>
</div>
Welcome to your new app.



<SurveyPrompt Title= " How is Blazor working for you?" />


@code{

	List<Alumnos> alumnos;
	List<Taller> talleres;
	List<Inscripcion> inscripciones;

	string codigoTaller;
	string dpiAlumno;
	protected override async Task OnInitializedAsync()
	{

		alumnos = await Http.GetFromJsonAsync<List<Alumnos>>("sample-data/students.json");

		talleres = await Http.GetFromJsonAsync<List<Taller>>("sample-data/workshop.json");
	}
	protected async Task GuardarInscripcion()
	{
		Inscripcion inscripcion = new Inscripcion();
		inscripcion.Codigo = codigoTaller;
		inscripcion.Dpi = dpiAlumno;
		inscripcion.Fecha = DateTime.Now;

		inscripciones.Add(inscripcion);
		await localStorage.SetItemAsync("inscripciones", "inscripciones");
	}
}

